@media (max-width: 950px) {
    li {
        flex-direction: column;
    }

    .imgDiv img {
            position: relative;
            width: 100%;
            height: auto;
    }
}


@media (max-width: 700px) {

    .header {
        width: 80%;
    }

    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 30px 50px 30px 50px 1fr;
    }
    
    label[for="city"] {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    .startDateLabel {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    
    .endDateLabel {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    
    .city {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    .startDate {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    
    .endDate {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }
    
    button {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    
}

@media screen and (max-width: 600px) {


    .resultsHeader {
    display: none;

    }

    .logo {

    position: relative;
    }


    .logo h1 {
        position: absolute;
        margin-top: 10%;

    }

    ul h4 {
    margin: 50px 30px;
}

}



@media (max-width: 550px) {

    .logo {
        justify-content: center;
    }

    h1 {
        margin-left: 0;
    }

    .header {
        align-items: center;
        margin-top: 100px;
    }

    .formHeader {
        text-align: center;
        font-size: 2rem;
        margin: 0px 20px 40px;
    }

    .gridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 30px 50px 30px 50px 30px 50px 30px 50px 1fr;
    }

    label[for='genre'] {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .startDateLabel {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    
    .endDateLabel {
        grid-row: 7 / 8;
        grid-column: 1 / 2;
    }
    
    .city {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .genre {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    
    .startDate {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }
    
    .endDate {
        grid-row: 8 / 9;
        grid-column: 1 / 2;
    }
    
    button {
        grid-row: 9 / 10;
        grid-column: 1 / 2;
    }

    .resultsHeader {
        margin-left: 30px;
    }

    li {
        margin: 80px 40px 80px 30px;
    }

}